<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>location</key>
		<string>강남</string>
		<key>latitude</key>
		<real>37.5172363</real>
		<key>longitude</key>
		<real>127.0473248000001</real>
	</dict>
	<dict>
		<key>location</key>
		<string>신촌</string>
		<key>latitude</key>
		<real>37.5594793</real>
		<key>longitude</key>
		<real>126.9435837999999</real>
	</dict>
	<dict>
		<key>location</key>
		<string>사당</string>
		<key>latitude</key>
		<real>37.4862548</real>
		<key>longitude</key>
		<real>126.9733325</real>
	</dict>
	<dict>
		<key>location</key>
		<string>잠실</string>
		<key>latitude</key>
		<real>37.5061273</real>
		<key>longitude</key>
		<real>127.0842944999999</real>
	</dict>
	<dict>
		<key>location</key>
		<string>종로</string>
		<key>latitude</key>
		<real>37.5729503</real>
		<key>longitude</key>
		<real>126.9793579</real>
	</dict>
	<dict>
		<key>location</key>
		<string>혜화</string>
		<key>latitude</key>
		<real>37.586755</real>
		<key>longitude</key>
		<real>127.0003554</real>
	</dict>
	<dict>
		<key>location</key>
		<string>용산</string>
		<key>latitude</key>
		<real>37.5384272</real>
		<key>longitude</key>
		<real>126.9654442</real>
	</dict>
	<dict>
		<key>location</key>
		<string>합정</string>
		<key>latitude</key>
		<real>37.5463089</real>
		<key>longitude</key>
		<real>126.9101218999999</real>
	</dict>
	<dict>
		<key>location</key>
		<string>목동</string>
		<key>latitude</key>
		<real>37.5370192</real>
		<key>longitude</key>
		<real>126.8735297000001</real>
	</dict>
	<dict>
		<key>location</key>
		<string>ETC</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
