<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>location</key>
		<string>강남</string>
		<key>latitude</key>
		<real>37.5172363</real>
		<key>longitude</key>
		<real>127.0473248000001</real>
	</dict>
	<dict>
		<key>location</key>
		<string>신촌</string>
		<key>latitude</key>
		<real>37.5594793</real>
		<key>longitude</key>
		<real>126.9435837999999</real>
	</dict>
	<dict>
		<key>location</key>
		<string>사당</string>
		<key>latitude</key>
		<real>37.4862548</real>
		<key>longitude</key>
		<real>126.9733325</real>
	</dict>
	<dict>
		<key>location</key>
		<string>잠실</string>
		<key>latitude</key>
		<real>37.5061273</real>
		<key>longitude</key>
		<real>127.0842944999999</real>
	</dict>
	<dict>
		<key>location</key>
		<string>종로</string>
		<key>latitude</key>
		<real>37.5729503</real>
		<key>longitude</key>
		<real>126.9793579</real>
	</dict>
	<dict>
		<key>location</key>
		<string>혜화</string>
		<key>latitude</key>
		<real>37.586755</real>
		<key>longitude</key>
		<real>127.0003554</real>
	</dict>
	<dict>
		<key>location</key>
		<string>용산</string>
		<key>latitude</key>
		<real>37.5384272</real>
		<key>longitude</key>
		<real>126.9654442</real>
	</dict>
	<dict>
		<key>location</key>
		<string>합정</string>
		<key>latitude</key>
		<real>37.5463089</real>
		<key>longitude</key>
		<real>126.9101218999999</real>
	</dict>
	<dict>
		<key>location</key>
		<string>목동</string>
		<key>latitude</key>
		<real>37.5370192</real>
		<key>longitude</key>
		<real>126.8735297000001</real>
	</dict>
	<dict>
		<key>location</key>
		<string>ETC</string>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>location</key>
		<string>고려대</string>
		<key>latitude</key>
		<real>37.590799</real>
		<key>longitude</key>
		<real>127.0277773</real>
	</dict>
	<dict>
		<key>location</key>
		<string>서울대</string>
		<key>latitude</key>
		<string>37.459882</string>
		<key>longitude</key>
		<string>126.95190530000002</string>
	</dict>
	<dict>
		<key>location</key>
		<string>연세대</string>
		<key>latitude</key>
		<string>37.565784</string>
		<key>longitude</key>
		<string>126.93857200000002</string>
	</dict>
	<dict>
		<key>location</key>
		<string>홍익대</string>
		<key>latitude</key>
		<string>37.5517109</string>
		<key>longitude</key>
		<string>126.92611569999997</string>
	</dict>
	<dict>
		<key>location</key>
		<string>이화여대</string>
		<key>latitude</key>
		<string>37.5618577</string>
		<key>longitude</key>
		<string>126.94682940000007</string>
	</dict>
	<dict>
		<key>location</key>
		<string>부산대</string>
		<key>latitude</key>
		<string>35.23369479999999</string>
		<key>longitude</key>
		<string>129.0797639</string>
	</dict>
	<dict>
		<key>location</key>
		<string>중앙대</string>
		<key>latitude</key>
		<string>37.504147</string>
		<key>longitude</key>
		<string>126.956954</string>
	</dict>
	<dict>
		<key>location</key>
		<string>건국대</string>
		<key>latitude</key>
		<string>37.5407625</string>
		<key>longitude</key>
		<string>127.07934279999995</string>
	</dict>
	<dict>
		<key>location</key>
		<string>한양대</string>
		<key>latitude</key>
		<string>37.5572321</string>
		<key>longitude</key>
		<string>127.04532189999998</string>
	</dict>
</array>
</plist>
